Categorical variable which categories can be meaningfully ordered are called ordinal. For example:

Student's grade in an exam (A, B, C or Fail).

Days of the week can be ordinal with Monday = 1, and Sunday = 7.

Educational level, with the categories: Elementary school, High school, College graduate, PhD ranked from 1 to 4.

When the categorical variable is ordinal, the most straightforward approach is to replace the labels by some ordinal number.

In [1]:
import pandas as pd
import datetime

In [2]:
# create a variable with dates, and from that extract the weekday
# I create a list of dates with 30 days difference from today
# and then transform it into a datafame

In [3]:
base = datetime.datetime.today()

In [4]:
base

datetime.datetime(2020, 1, 20, 19, 49, 33, 60939)

In [5]:
date_list =[]
for x in range(0,30):
    time =datetime.timedelta(days=x)
    new_time = base-time
    date_list.append(new_time)

In [6]:
date_dataset =pd.DataFrame(date_list)
date_dataset.columns = ['day']

In [7]:
date_dataset.head(10)

                         day
0 2020-01-20 19:49:33.060939
1 2020-01-19 19:49:33.060939
2 2020-01-18 19:49:33.060939
3 2020-01-17 19:49:33.060939
4 2020-01-16 19:49:33.060939
5 2020-01-15 19:49:33.060939
6 2020-01-14 19:49:33.060939
7 2020-01-13 19:49:33.060939
8 2020-01-12 19:49:33.060939
9 2020-01-11 19:49:33.060939

In [8]:
date_dataset['day_of_week'] = date_dataset['day'].dt.weekday_name

In [9]:
date_dataset

                          day day_of_week
0  2020-01-20 19:49:33.060939      Monday
1  2020-01-19 19:49:33.060939      Sunday
2  2020-01-18 19:49:33.060939    Saturday
3  2020-01-17 19:49:33.060939      Friday
4  2020-01-16 19:49:33.060939    Thursday
5  2020-01-15 19:49:33.060939   Wednesday
6  2020-01-14 19:49:33.060939     Tuesday
7  2020-01-13 19:49:33.060939      Monday
8  2020-01-12 19:49:33.060939      Sunday
9  2020-01-11 19:49:33.060939    Saturday
10 2020-01-10 19:49:33.060939      Friday
11 2020-01-09 19:49:33.060939    Thursday
12 2020-01-08 19:49:33.060939   Wednesday
13 2020-01-07 19:49:33.060939     Tuesday
14 2020-01-06 19:49:33.060939      Monday
15 2020-01-05 19:49:33.060939      Sunday
16 2020-01-04 19:49:33.060939    Saturday
17 2020-01-03 19:49:33.060939      Friday
18 2020-01-02 19:49:33.060939    Thursday
19 2020-01-01 19:49:33.060939   Wednesday
20 2019-12-31 19:49:33.060939     Tuesday
21 2019-12-30 19:49:33.060939      Monday
22 2019-12-29 19:49:33.060939      Sunday
23 2019-12-28 19:49:33.060939    Saturday
24 2019-12-27 19:49:33.060939      Friday
25 2019-12-26 19:49:33.060939    Thursday
26 2019-12-25 19:49:33.060939   Wednesday
27 2019-12-24 19:49:33.060939     Tuesday
28 2019-12-23 19:49:33.060939      Monday
29 2019-12-22 19:49:33.060939      Sunday

In [10]:
label_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

In [11]:
date_dataset['day_odinal'] = date_dataset.day_of_week.map(label_map)

In [12]:
date_dataset

                          day day_of_week  day_odinal
0  2020-01-20 19:49:33.060939      Monday           1
1  2020-01-19 19:49:33.060939      Sunday           7
2  2020-01-18 19:49:33.060939    Saturday           6
3  2020-01-17 19:49:33.060939      Friday           5
4  2020-01-16 19:49:33.060939    Thursday           4
5  2020-01-15 19:49:33.060939   Wednesday           3
6  2020-01-14 19:49:33.060939     Tuesday           2
7  2020-01-13 19:49:33.060939      Monday           1
8  2020-01-12 19:49:33.060939      Sunday           7
9  2020-01-11 19:49:33.060939    Saturday           6
10 2020-01-10 19:49:33.060939      Friday           5
11 2020-01-09 19:49:33.060939    Thursday           4
12 2020-01-08 19:49:33.060939   Wednesday           3
13 2020-01-07 19:49:33.060939     Tuesday           2
14 2020-01-06 19:49:33.060939      Monday           1
15 2020-01-05 19:49:33.060939      Sunday           7
16 2020-01-04 19:49:33.060939    Saturday           6
17 2020-01-03 19:49:33.060939      Friday           5
18 2020-01-02 19:49:33.060939    Thursday           4
19 2020-01-01 19:49:33.060939   Wednesday           3
20 2019-12-31 19:49:33.060939     Tuesday           2
21 2019-12-30 19:49:33.060939      Monday           1
22 2019-12-29 19:49:33.060939      Sunday           7
23 2019-12-28 19:49:33.060939    Saturday           6
24 2019-12-27 19:49:33.060939      Friday           5
25 2019-12-26 19:49:33.060939    Thursday           4
26 2019-12-25 19:49:33.060939   Wednesday           3
27 2019-12-24 19:49:33.060939     Tuesday           2
28 2019-12-23 19:49:33.060939      Monday           1
29 2019-12-22 19:49:33.060939      Sunday           7

We can now use the variable day_ordinal in sklearn to build machine learning models.